::root{
   --color_main: #955251;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.grid{
    
}
.grid_item{
    display: block;
    width: 20%;
}
.grid_item_link{
   display: block;
   text-decoration: none;
}
.logo{
   background:  #955251;
}
