:root{
    --color_red: #de4d5f;
    --color_green: #02d047;
    --color_blue: #4a90cc;
    --color_text_footer: #888888;
    --color_text_grey: #464646;
    --color_text_dark_grey: #262626;
    --color_text_lighter_grey: #a3a3a3;
    --color_bkg_light_grey: #f5f5f5;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Source Sans Pro';
}
.inner{
    width: 500px;
    margin: 0 auto;
}
/***********************************************************************************signup_form_section*/
.signup_form_section{
    padding: 70px 0;
}
.signup_form_logo_wrapper{
    text-align: center;
    margin: 0 0 80px 0;
}
.signup_form_title{
    text-align: center;
    color: var(--color_text_dark_grey);
    font-size: 2rem;
    letter-spacing: 1px;
}
.signup_form{
    padding: 70px 0;
}
.form_inner{
    width: 255px;
    margin: 0 auto;
}
.form_group{
    position: relative;
    margin: 0 0 23px 0;
}
.form_group_label{
    display: block;
    text-transform: uppercase;
    color: var(--color_text_dark_grey);
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 1px;
}
.form_group_input{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding:0 15px;
    color: var(--color_text_dark_grey);
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid var(--color_text_dark_grey);
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.2);
    background-color: var(--color_bkg_light_grey);
    outline: none;
}
/************************************************************************************************form_input_info***/
.form_input_info{
    position: absolute;
    white-space: nowrap;
    left: calc(100% + 1px);
    top: calc(50% - 5px);
    height: 10px;
    width: auto;
    letter-spacing: 1px;
    color: var(--color_red);
}
.form_input_info:before{
    position: absolute;
    width: 14px;
    height: 14px;
    right: -30px;
    top: calc(50% + 7px);
}
.form_group_input.valid + .form_input_info:before,
.form_group_input.valid + label + .form_input_info:before{
    content:'';
    background: url(../images/singup_form_check.png) no-repeat center center;
}
.form_group_input:invalid + .form_input_info:before{
    content:'';
    background: url(../images/singup_form_alert.png) no-repeat center center;
}
.form_group_input.invalid + label + .form_input_info:before{
    content:'';
    background: url(../images/singup_form_alert.png) no-repeat center center;
}
.form_group_input:invalid{
    border-color: var(--color_red);
}
.form_group_input.invalid{
    border-color: var(--color_red);
}
/***********************************************************************************************************label*/
label.invalid{
    position: absolute;
    white-space: nowrap;
    left: calc(100% + 45px);
    top: calc(50% + 5px);
    height: 10px;
    width: auto;
    letter-spacing: 1px;
    color: var(--color_red);
}
/*********************************************************************************************************************/
.form_group_input::placeholder{
    color: var(--color_text_lighter_grey);
}
.form_select{
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding:0 15px;
    color: var(--color_text_dark_grey);
    border: 1px solid var(--color_text_dark_grey);
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    padding-left: 45px;
    cursor: pointer;
    outline: none;
}
.form_select_wrapper{
    position: relative;
}
.form_select_wrapper:before{
    position: absolute;
    content: '';
    left: 14px;
    top: calc(50% - 5px);
    width: 12px;
    height: 10px;
    background: url(../images/singup_form_select.png) no-repeat center center;
}
.form_select_wrapper:hover:before{
    top: calc(50% - 4px);
}
.signup_form_submit_btn{
    background: var(--color_green);
    color: #fff;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    cursor: pointer;
    padding: 0 36px;
    outline: none;
}
.signup_form_submit_btn:disabled{
    cursor: not-allowed;
}
.signup_form_submit_btn span{
    position: relative;
}
.signup_form_submit_btn:not(:disabled):hover span{
    left: 3px;
}
.signup_form_section_link{
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.signup_form_section_link:hover{
    text-decoration: none;
}
.login_link{
    margin: 0 0 60px 0;
    color: var(--color_text_lighter_grey);
}
.help_link{
    color: var(--color_text_dark_grey);
}
/********************************************************************************************form_error*/
.form_error{
    position: relative;
    top: -25px;
    left: calc(100% + 10px);
    width: auto;
    height: 100%;
    color: var(--color_red);
    white-space: nowrap;
}
.form_error:before{
    content:'';
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
    width: 10px;
    height: 10px;
    background: url(../images/singup_form_alert.png) no-repeat center center;
}
/************************************************************************************************footer*/
footer{
    background: var(--color_bkg_light_grey);
    padding: 62px 0 46px 0;
}
.footer_link_btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 55px 0;
}
.footer_link_btn{
    display: block;
    padding: 12px 20px 12px 30px;
    text-transform: uppercase;
    color: var(--color_text_dark_grey);
    border: 1px solid var(--color_text_dark_grey);
    border-radius: 5px;
    text-decoration: none;
}
.footer_link_btn:hover .footer_link_btn_arrow{
    left: 3px;
}
.footer_link_btn_arrow{
    margin: 0 0 0 20px;
    width: 20px;
    transition: .5s;
    position: relative;
}
.footer_menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 25px 0;
}
.footer_menu_item{
    list-style: none;
    display: block;
    margin-right: 15px;
}
.footer_menu_item_link,
.footer_menu_item_link:visited,
.footer_menu_item_link:active{
    color: var(--color_blue);
    text-decoration: none;
}
.footer_menu_item_link:hover{
}
.footer_copyright{
    color: var(--color_text_footer);
    text-align: center;
}
.footer_copyright span{
    text-transform: uppercase;
}
/*******************************************************************************************************MEDIA*/
@media(max-width: 500px){
    .inner{
        width: 90vw;
    }
    .form_group{
        margin-bottom: 43px;
    }
    .form_input_info:before{
        right: -18px;
    }
    label.invalid{
        white-space: nowrap;
        left: 0;
        top: calc(100% + 10px);
        font-size: .8rem;
    }
}